@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap');

/* 全体のフォント設定 */
html {
    font-family: 'Zen Maru Gothic', sans-serif !important;
}

/* 公開範囲による背景色の変更 */
.xcSej.x3762:has(.ti-rocket-off) {
    background-color: rgba(255, 102, 181, 0.1) !important; /* 連合オフ - errorカラーベース */
}
.xcSej.x3762:has(.ti-home) {
    background-color: rgba(112, 102, 255, 0.1) !important; /* ホーム - accentカラーベース */
}
.xcSej.x3762:has(.ti-mail) {
    background-color: rgba(101, 87, 208, 0.1) !important; /* DM - linkカラーベース */
}
.xcSej.x3762:has(.ti-lock) {
    background-color: rgba(207, 134, 255, 0.1) !important; /* フォロワー限定 - buttonGradateAベース */
}